[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
whitenoise = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
flake8-pyproject = "*"

[requires]
python_version = "3.12"
